* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.courses_grid {
  width: 100%;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1rem;
  max-height: 75vh;
  overflow-y: auto;
}

.summary {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0;
  background-color: whitesmoke;
  padding: 1rem 0;
}

.uploader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploader-input {
}

.uploader__submit-btn {
  margin-top: 1rem;
  padding: 5px;
  width: 10%;
}